    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@dingherself">
{%- if page.title -%}
    <meta name="twitter:title" content="{{ page.title | strip_html | smartify }} · {{ site.course_number }}: {{ site.course_title | strip_html | smartify }}">
{%- else %}
    <meta name="twitter:title" content="{{ site.course_number }}: {{ site.course_title | strip_html | smartify }}">
{%- endif -%}
    <meta name="twitter:description" content="{{ page.description | default: site_description | strip_html | smartify }}">