---
layout: default
---

<nav class= aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><small class="text-body-secondary"><a href="{{ site.baseurl }}{% link announcements.html %}">Announcement</a></small></li>
    <li class="breadcrumb-item active" aria-current="page"><small class="text-body-secondary">{{ page.title }}</small></li>
  </ol>
</nav>

<h1>{{ page.title | smartify}}</h1>

{% if page.date %}
<p style="font-size: 0.95rem; font-style: italic; margin-bottom: 2rem;">Posted: {{ page.date | date: "%a, %b %e, %Y" }}</p>
{% endif %}

{{ content }}