<!doctype html>
<html lang="en" data-bs-theme="dark">
  <head>
    {% include head.html %}
    {% include css.html %}
    <link href="https://cdn.datatables.net/v/bs5/dt-2.0.7/datatables.min.css" rel="stylesheet">
    {% include scripts.html %}
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script> 
    <script src="https://cdn.datatables.net/v/bs5/dt-2.0.7/datatables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.30.1/moment.min.js"></script>
    {% include favicons.html %}
    {% include GA.html %}
  </head>
  <body>

    {% include navbar.html %}

    <main id="content" role="main" class="container" style="padding-bottom: 3rem;">
      <div class="container maincontent">
        <div class="row justify-content-center align-items-start gx-5 mt-2">
          <div class="col-12 col-md-11 col-lg-9">
            {{ content }}
          </div>
        </div>
      </div>
    </main>

    <footer class="container maincontent">
      <div class="row justify-content-center" align-items-start gx-5 mb-5">
      <div class="col-12 col-lg-10">
        {% include footer.html %}
      </div>
      </div>
    </footer>

  </body>
</html>
